@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('../style/main.css');
@import url('../style/description.css');
@import url('../style/products.css');
@import url('../style/galery.css');
@import url('../style/footer.css');

:root {
	--font-logo: 'Lobster Two', 'italic';
	--font-text: 'PT Sans Narrow';
}
::before,
::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

section {
	width: 85%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	padding: 15px;
	/* background-color: bisque; */
}

/* queries */

.descripcion {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}

.products {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}